<table border="1">
    <div>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Id</th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.apellido}}</td>
            <td>{{this.id}}</td>
        </tr>
        {{/each}}
    </div>
</table>

<input type="button" onclick="location.href='/'" value="Inicio">