html 
    head 
        title="Agregar Usuario"
    body 
        h1="Bienvenido!!"
        form(id="usuarioForm")
            lable="Ingrese Nombre"
            input(type="text", name="nombre", required)
            label="Ingrese Apellido"
            input(type="text", name="apellido", required)
            input(type="submit")
        input(type="button", onclick="location.href='/usuarios'", value="Listado")
        script(src="js/index.js")
        link(rel="stylesheet", href="styles.css")
